<!DOCTYPE html>
<html>
<head>
  <title>Learncodebeta</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row full-height">
    <div class="col-md-3">
      <div class="left-nav">
        <a href="/">
          <div class='logo-container text-center'>
            <i class="fa fa-map-marker"></i>
            <h1>learncode</h1>
          </div>
        </a>
        <ul class="mynav">
          <li>
            <a href="/quotes">
              <i class="fa fa-lightbulb-o"></i> Step 1: Get Inspired<br>
              <div class="small-text">Quotes from leading developers to inspire you</div>
            </a>
          </li>
          <hr>
          <li>
            <a href="/onlineschools">
              <i class="fa fa-pencil"></i> Step 2: Self Study<br>
              <div class="small-text">Resources to learn code on your own</div>
            </a>
          </li>
          <hr>
          <li>
            <i class="fa fa-rocket"></i> Step 3: Get Real Training<br> <div class="small-text">Learn to code in a classroom</div>
              <div class="input-group navsearch">
                <input class="form-control" id="address_search" type="text" name="search_term" placeholder="Where do you live?">
                <div class="input-group-btn">
                  <button class="btn btn-primary" id="submit_search" >Submit</button>
                </div>
              </div>
            </form>
          </li>
          <hr>
          <li>
            <div class="small-text">
              <a href="/quotes/new">Are you a developer? <br> Leave some words of wisdom</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9 fullmap">
      <%= yield %>
    </div>
  </div>

</body>
</html>
